[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]

django-heroku = "==0.3.1"
docutils = ">=0.15.2"
gunicorn = ">=19.9.0"
Django = ">=2.2.4"
Pillow = ">=6.1.0"
"django-tinymce4-lite" = ">=1.7.5"
django-filebrowser-no-grappelli = ">=3.7.8"
djangorestframework = ">=3.10.2"
django-cors-headers = ">=3.0.2"
six = ">=1.12.0"
